<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link href="/css/detalhar.css" rel="stylesheet">

</head>
    <body>

        <%- include('includes/navbar') %>
        <scroll-container>
        
            <div class="scroll">
        <div class="container">

            <section>
                <div class="lyric">
                    <div class="vl">

                    <section class="head">
                    <h1 style="font-size: 20px; font-weight: bold;">
                        <%= musica.titulo %>
                    </h1>
                    <h2>
                        <%= musica.artista %>
                    </h2>
                    </section>
                    <p style="white-space: pre-line;">
                        <%= musica.letra %>
                    </p>
                </div>
            </section>
        </div>
            <section>
                <div class="video">
                    <iframe width="460" height="250" src="https://www.youtube.com/embed/<%= musica.url.substring(17)%>"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </section>
            
</div>
    </div>
    <footer></footer>
    </scroll-container>
    </body>

</html>