<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    



    <div>

<div class="menu">
  <% if (user.adm) { %>

    <table class="musicas2">
      <h1 id="titulo2">Músicas aguardadando aprovação</h1>
      <tr>
        <th>Nome</th>
        <th>Artista</th>
        <th>Gênero</th>
        <th>Lançamento</th>
        <th>Letra</th>

      </tr>
      <% aprovarmusicas.forEach(cmusica=> { %>
        <tr>
          <td>
            <%= cmusica.titulo %>
          </td>
          <td>
            <%= cmusica.artista %>
          </td>
          <td>
            <%= cmusica.genero %>
          </td>
          <td>
            <%= cmusica.lancamento %>
          </td>
          <td>
            <%= cmusica.letra %>
          </td>



        </tr>
        <% }) %>
    </table>
    <% } %>
    <table class="musicas2">
      <h1 id="titulo2">Favoritas</h1>
      <tr>
        <th>Nome</th>
        <th>Artista</th>
        <th>Gênero</th>
        <th>Lançamento</th>
        <th>Letra</th>
    
      </tr>
      <% aprovarmusicas.forEach(cmusica=> { %>
        <tr>
          <td>
            <%= cmusica.titulo %>
          </td>
          <td>
            <%= cmusica.artista %>
          </td>
          <td>
            <%= cmusica.genero %>
          </td>
          <td>
            <%= cmusica.lancamento %>
          </td>
          <td>
            <%= cmusica.letra %>
          </td>
    
    
    
        </tr>
        <% }) %>
    </table>


</div>

    <div class="main">


          <h1 id="titulo">Músicas recentes</h1>
          
          <table class="musicas">
            <tr>
              <th>Nome</th>
              <th>Artista</th>
              <th>Gênero</th>
              <th>Lançamento</th>
              <th>Letra</th>
            </tr>
            <tr>
              <td>Heart Attack</td>
              <td>Demi Lovato</td>
              <td>Pop</td>
              <td>2022-03-04</td>
              <td>lalalalal</td>
          
            </tr>
              <tr>
                <td>Give Your Heart A Break</td>
                <td>Demi Lovato</td>
                <td>Pop</td>
                <td>2010-03-04</td>
                <td>there's just one life to live</td>
              </tr>
              <tr>
                <td>the 1</td>
                <td>Taylor Swift</td>
                <td>Indie Pop</td>
                <td>2020-03-04</td>
                <td>in my defense i have none, for never leaving well enough alone</td>
              
              </tr>
            <% musicas.forEach(musica=> { %>
              <tr>
                <td>
                  <%= musica.titulo %>
                </td>
                <td>
                  <%= musica.artista %>
                </td>
                <td>
                  <%= musica.genero %>
                </td>
                <td>
                  <%= musica.lancamento %>
                </td>
                <td>
                  <%= musica.letra %>
                </td>
          
          
                <td> <a href="/musicas/<%= musica.id %>"> Ver detalhes </a> </td>
              </tr>
              <% }) %>
          </table>
        </div>

      
    </div>

    
   

     
</body>

</html>